body{
    background-color: aquamarine;

}
table{
    width: 80%;
    margin: 40px;
    background-color: aqua;
}
table.list{
    text-align: center;
    width: 90%;
}
td{
    border: 2px solid gray;
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: aliceblue;
}
input[type="text"],input[type="number"],input[type="email"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(93, 131, 131);
    border-radius: 4px;
    

}
input[type=submit],input[type="reset"]{
    background-color: rgb(90, 240, 90);
    width: 91%;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 26px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;


}
input[type="reset"]:hover{
    background-color: aquamarine;
}
input[type="submit"]:hover{
    background-color: aquamarine;
}
button{
    background-color: rgb(90, 240, 90);
    width: 90%;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 26px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;


}
button:hover{
    background-color: aquamarine;
}
    