body{
    background-image: url("https://th.bing.com/th/id/R.fe5cd069c5f440776c7a0083d2d42583?rik=guC6X8fwCUAWYw&riu=http%3a%2f%2fwww.dreamtemplate.com%2fdreamcodes%2fbg_images%2fcolor%2fc12.jpg&ehk=NELVzbirqiYV1UXpCHpeLJV7KdlUywS6AgeTxEAO3ZY%3d&risl=&pid=ImgRaw&r=0");
}
.employee-form {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;

}

.employees-table {
    border-style: solid;
    padding: 20px;
    margin: auto;
    width: 70%;
    
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: rgb(24, 217, 18);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    border: 7px solid rgb(0, 21, 255);
    border-radius: 7px;
    background-color: rgb(0, 21, 255);
    cursor: pointer;
    text-decoration: underline;
    color: #00ee47;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}